/* ------- Common CSS Start --------- */
*{
    box-sizing: border-box;
    box-shadow: none;

}
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root{
    --primary-color:#202b3b;
    --secondary-color:#d76b11;
    --body-bgcolor:#0b131e;
    --white-color:#fff;
    --border-color:#5f5d5d;
}
body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
    background-color: var(--body-bgcolor);
    /* padding: 10px; */
}
h1,h2,h3.h4,h5,h6{
    margin: 0;
    padding: 0;
    line-height: 1.3;
}
ul,p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;   
}
input:focus, textarea:focus{
    border:none;
   outline:none;
}
table, td, th{
    display: block;
}
.wf-btn{
    display: inline-block;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.wf-btn span{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    background-color: var(--white-color);
    transition: width .5s ease-in-out, height .5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
}
.wf-btn:hover span{
    width: 225%;
    height: 562.5px;
}
/* ------- Common CSS End ----------- */
/* ------- Header CSS Start ----------- */
.wf-header-wrapper{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 0;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px ;
    max-width: 110px;
    width: 100%;
    z-index: 9;
    transition: all .3s ease-in-out;

}
.wf-logo{
    margin: 10px auto 50px;
    text-align: center;
}
.wf-logo img{
    width: 50px;
    height: 50px;
}
.wf-menus img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.wf-menus {
    margin: 0 auto;
    text-align: center;
}
.wf-menus button {
    margin: 0 auto 25px;
    /* position: absolute; */
}
.wf-menus button span {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1.2;
}
/* ------- Header CSS End ----------- */
/* ------- Main CSS Start ----------- */
.wf-curent-sec{
    margin-left: 140px;
    position: relative;
    top: 20px;
    height: 100%;
    padding: 0 20px 0;
}
.wf-search-sec .search-text{
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
    height: 45px;
    background-color: var(--primary-color);
    padding: 0 10px;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;
}
.wf-search-sec .search-text::placeholder{
    color:#c4c2c2;
}
span.error {
    color: red;
    font-size: 15px;
    font-weight: 400;
    display: block;
}
.wf-search-sec {
    max-width: 600px;
    position: relative;
}
.wf-searchbtn {
    position: absolute;
    right: 10px;
    top: 4px;
    padding: 5px 15px;
}
/* Switch-toggle css */
.wf-toggle-btn{
    max-width: 70px;
}
.wf-switch {
    position: relative;
    width: 70px;
    height: 38px;
    display: inline-block;
    top: 3px;
}
.wf-switch input{
    opacity: 0;
    width: 0;
    height: 0;  
}
.wf-slider{
    position: absolute;
    inset: 0;
    background-color: var(--secondary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.wf-slider::before{
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    left: 4px;
    top: 4px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: 0.3s;
}
.wf-switch input:checked + .wf-slider{
    background-color: var(--secondary-color);
}
.wf-switch input:checked + .wf-slider::before{
    transform: translateX(34px);
}
.celsius, .fahrenheit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
}
.celsius{
    left: 10px;
} 
.fahrenheit{
    right: 10px;
}
.wf-toggle-btn button.active{

}
.wf-heading {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    padding: 8px 0 0;
    text-align: left;
}
/* background-image css */
.wf-bgimg {
    min-height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    margin: 20px 0 30px;
    padding: 15px 30px 15px 15px;
}
.wf-bgimg::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 54%);
}
.wf-weatdata {
    position: relative;
    z-index: 1;
}
.cloudy{
    background-image: url('../images/partly-cloudy.jpg');
}
.rainy{
    background-image: url('../images/rainy.png');
}
.snowy{
    background-image: url('../images/snowy.png');
}
.sunny{
    background-image: url('../images/sunny.png');
}
.mist{
    background-image: url('../images/mist.png');
}
.wf-weatlocation h3{
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
}
.wf-weatdata h2 {
    font-size: 65px;
    font-weight: 500;
    color: var(--white-color);
    padding: 40px 0 14px;
}
.wf-weatdata p{
    font-size: 15px;
    font-weight: 500;
    color: #d7d7d7;
    padding: 10px 0 0;
}
.wf-weaimg{
    position: relative;
    z-index: 1;
}
.wf-weaimg img{
    width: 80px;
    height: 80px;   
}
h2, p{
    color: var(--white-color);
}
.wf-city-sec{
    display: none;
}
/* ------- Main CSS Start ----------- */
/* ------- weather condition CSS Start ----------- */
.wf-weathercondition{
    padding: 15px 0 0 0;
}
.wf-conditionbox{
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    padding: 15px;
    max-width: 150px;
    width: 100%;
}
.wf-conheading img{
    height: 22px;
    width: 22px;
    object-fit: cover;
}
.wf-conheading span{
    font-size: 16px;
    font-weight: 400;
    color: #c4c2c2;
}
.wf-conditionbox h3{
    font-size: 20px;
    color: var(--white-color);
    font-weight: 500;
    padding: 10px 0px 10px;
}
/* ------- weather condition CSS End ----------- */
/* ------- Header CSS Start ----------- */
/* ------- Header CSS Start ----------- */
/* ------- Header CSS Start ----------- */
/* ------- Header CSS Start ----------- */
